* {
    box-sizing: border-box;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col1{
    float: left;
    width: 35%;
    height: auto;
}
.col2{
    float: left;
    width: 65%;
    padding: 10px;
    height: auto;
}
img{
    width:50px; height:50px;
}
img.pinggir {
    height: 750px;
    width: 100%;
    position: sticky;
    top: 0;

}
h1{
    text-align: right;
    padding-right: 3%;
    text-decoration: underline; 
}
P{
    font-size: 36px;
    font-family: Century Gothic;
}
.underl{
    text-decoration: underline;
    font-size: 35px;
    margin-top: 70px;

}
.tab{
    text-indent: 40px;
}
nav{
    width: 100%;

}
li{
    float: left;
}
ul{
    width: fit-content;
    float: right;
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
}
@media only screen and (max-width:768px){
    * {
        box-sizing: border-box;
      }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .col1{
        display: none;
    }
    .col2{
        float: left;
        width: 100%;

    }
    img{
        width:45px; height:45px;
    }
    h1{
        text-align: right;
        padding-right: 3%;
        text-decoration: underline; 
        font-size: 35px;
    }
    P{
        font-size: 26px;
        padding-left: 10px;
    }
    nav{
        width: 100%;
    
    }
    li{
        float: left;
    }
    ul{
        width: fit-content;
        float: right;
        list-style: none;
        margin-right: 20px;
        margin-top: 20px;
    }
    .underl{
        text-decoration: underline;
        font-size: 30px;
        margin-top: 70px;
    
    }
}
@media only screen and (max-width:375px){
    * {
        box-sizing: border-box;
      }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .col1{
        display: none;
    }
    .col2{
        float: left;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        height: auto;
    }
    img{
        width:30px; height:30px;
    }
    h1{
        text-align: right;
        padding-right: 3%;
        text-decoration: underline;
        font-size: 24px;
    }
    P{
        font-size: 14px;
        padding-left: 10px;
        
    }
    nav{
        width: 100%;
    
    }
    li{
        float: left;
    }
    ul{
        width: fit-content;
        float: right;
        list-style: none;
        margin-right: 10px;
        margin-top: 20px;
    }
    pre{
       
        width: 100%;
        font-family: Century Gothic;
    }
    .underl{
        text-decoration: underline;
        font-size: 20px;
        margin-top: 70px;
    
    }
}
